<!DOCTYPE html>

<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Logged out</title>

</head>

<body>
 
    <h1>You closed your session</h1>
    <h2>Wait to redirect!</h2>
</body>

<script>
        window.onload = setTimeout(function() { 
            localStorage.clear();  
            window.location.href = '/register';
        },2000);
    
</script>